<div class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div class="bg-white rounded-lg shadow-lg w-full max-w-lg p-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold">Cadastrar transação</h2>
      <button 
        class="text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        &times;
      </button>
    </div>

    <form class="p-6"[formGroup]="formGroup">
      <div class="input-group">
        <label for="date">Data</label>
        <fin-date-picker controlName="date" />
      </div>
      <div class="input-group">
        <label for="description">Descrição</label>
        <fin-input id="description" required formControlName="description" />
      </div>
      <div class="input-group">
        <label for="value">Valor</label>
        <fin-input id="value" placeholder="R$ 12.99" required formControlName="amount" />
      </div>
      <div class="input-group">
        <label for="account">Conta</label>
        <fin-autocomplete
          [formGroup]="formGroup"
          [items]="bankAccounts"
          displayProperty="name"
          controlName="accountId"
          (addNewItem)="handleAddNew($event)" />    
      </div>
  
      <div class="flex items-start mb-5">
        <div class="flex items-center h-5">
          <input id="remember" type="checkbox" value="" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-indigo-300 
          dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" required />
        </div>
        <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
      </div>
      <button (click)="submit()" >Submit</button>
    </form>
    
  </div>
</div>
