

@if(matDatepicker) {
  <input 
  [type]="type" 
  [id]="id" 
  [name]="name" 
  [value]="value || ''" 
  (input)="onInputChange($event)"
  [placeholder]="placeholder" 
  [autocomplete]="autocomplete"

  (focus)="onFocus()"
  (blur)="onBlur()"

  [matDatepicker]="matDatepicker"
/>
} @else {
  <input 
  [type]="type" 
  [id]="id" 
  [name]="name" 
  [value]="value || ''" 
  (input)="onInputChange($event)"
  [placeholder]="placeholder" 
  [autocomplete]="autocomplete"
  (focus)="onFocus()"
  (blur)="onBlur()"
/>
}
