<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'">
        <mat-nav-list class="flex flex-col h-[calc(100vh-112px)]">
            <div class="flex-center mx-6 mt-6 mb-16">
                <img class="h-6" alt="logo" [src]="themeSwitcher.theme() === 'dark' ? DARK_LOGO_URL : LOGO_URL">
            </div>
            <nav class="flex flex-col justify-between h-full">
                <ul>
                    @for (item of items; track item.route) {
                        <li [routerLink]="item.route" routerLinkActive="active">
                            <mat-icon class="material-icons-outlined w-5 h-5 text-[1.25rem]">{{ item.icon }}</mat-icon>
                            <a>{{ item.name }}</a>
                        </li>
                    }
                </ul>
                <ul>
                    <li>
                        <mat-icon class="material-icons-outlined w-5 h-5 text-[1.25rem]">settings</mat-icon>
                        <a>Configurações</a>
                    </li>
                    <li>
                        <mat-icon class="material-icons-outlined w-5 h-5 text-[1.25rem]">info</mat-icon>
                        <a>Ajuda</a>
                    </li>
                </ul>
            </nav>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="min-h-screen bg-white dark:bg-gray-900">
        <header-component>
            <mat-icon *ngIf="isMobile" (click)="toggleMenu()">menu</mat-icon>
        </header-component>
        <main class="h-[calc(100vh-68px)] overflow-x-hidden">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


