<mat-sidenav-container class="sidenav-container">
    <mat-sidenav [opened]="!isMobile" [mode]="isMobile ? 'over' : 'side'">
        <mat-nav-list>
            <div class="title flex-center">
                <img alt="logo">
            </div>
            <ul>
                @for (item of items; track item.route) {
                    <li [routerLink]="item.route" routerLinkActive="active" class="default-text">
                        <mat-icon class="material-icons-outlined">{{ item.icon }}</mat-icon>
                        <a>{{ item.name }}</a>
                    </li>
                }
            </ul>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <header-component>
            <mat-icon *ngIf="isMobile" (click)="toggleMenu()">menu</mat-icon>
        </header-component>
        <main>
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>


