<label class="text-start block mt-3 mb-2 text-sm font-medium text-text dark:text-text-dark" [for]="name" *ngIf="label">{{ label }}</label>

@if(isDatePicker) {
  <input 
  [type]="type" 
  [id]="name" 
  [name]="name" 
  [value]="value" 
  (input)="onInputChange($event)"
  (dateChange)="onInputChange($event)" 
  (dateInput)="onInputChange($event)"
  [placeholder]="placeholder" 
  [autocomplete]="autocomplete"

  (focus)="onFocus()"
  (blur)="onBlur()"

  [matDatepicker]="picker"
  />
  <mat-icon (click)="picker.open()" class="date-icon">calendar_month</mat-icon>
  <mat-datepicker #picker></mat-datepicker>
} @else {
  <input 
  [type]="type" 
  [id]="name" 
  [name]="name" 
  [value]="value" 
  (input)="onInputChange($event)"
  [placeholder]="placeholder" 
  [autocomplete]="autocomplete"
  (focus)="onFocus()"
  (blur)="onBlur()"
  [mask]="mask"
  [dropSpecialCharacters]="true"
  />
}

<div *ngIf="control?.touched && control?.invalid">
  <span class="text-xs text-error mt-1" *ngIf="control?.errors?.['required']">&#9888; Este campo é obrigatório.</span>
  <span class="text-xs text-error mt-1" *ngIf="control?.errors?.['email']">&#9888; Digite um e-mail válido.</span>
  <span class="text-xs text-error mt-1" *ngIf="control?.errors?.['maxlength']">&#9888; O valor é muito longo.</span>
  <span class="text-xs text-error mt-1" *ngIf="control?.errors?.['minlength']">&#9888; O valor é muito curto.</span>
</div>
