<page-header title="Contas bancárias" icon="person" (newClick)="create()" />

  <div class="fin-table">
    <div class="search">
        <fin-input class="w-full h-12" placeholder="Nome" />
        <fin-button size="large" color="outlined" startIcon="delete">Limpar</fin-button>
        <fin-button size="large" startIcon="search">Pesquisar</fin-button>
    </div>
    @if(bankAccounts.length > 0) {
        <table>
            <thead>
                <th>Nome</th>
                <th>Saldo inicial</th>
                <th>Saldo total</th>
                <th></th>
            </thead>
            <tbody>
                @for (account of bankAccounts; track account.bankAccountId) {
                    <tr>
                        <td>{{ account.name }}</td>
                        <td>{{ account.initialAmount }}</td>
                        <td>{{ account.initialAmount }}</td>
    
                        <td><mat-icon class="material-symbols-outlined ">more_vert</mat-icon></td>
                    </tr>
                  }
            </tbody>
        </table>
    } @else {
        <h1>Sem registros.</h1>
    }
    
</div>
  

