<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="flex justify-between items-center" [class.expanded]="expanded">
    <h2 class="text-xl font-semibold flex items-center justify-center cursor-pointer transition-all duration-300 hover:brightness-110" [matMenuTriggerFor]="menu">
      <mat-icon class="material-icons-outlined mr-2">credit_card</mat-icon>
      Despesa no cartão
      <mat-icon class="material-icons-outlined ml-1" style="width: 20px; height: 20px; font-size: 20px;">keyboard_arrow_down</mat-icon>
    </h2>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeToBankAccount(operations.INCOME)">
          <mat-icon class="material-icons-outlined success">show_chart</mat-icon>
          <span>Receita</span>
      </button>
      <button mat-menu-item (click)="changeToBankAccount(operations.EXPENSE)">
          <mat-icon class="material-icons-outlined error">show_chart</mat-icon>
          <span>Despesa</span>
      </button>
      <button mat-menu-item>
          <mat-icon class="material-icons-outlined">credit_card</mat-icon>
          <span>Despesa no cartão &nbsp;&nbsp;&nbsp;</span>
      </button>
    </mat-menu>
    <span class="cursor-pointer flex items-center justify-center rounded-full p-3 w-2 h-2 duration-200 hover:bg-gray-200 dark:hover:bg-hover-dark">
      <button (click)="close()" class="focus:outline-none">&times;</button>
    </span>
  </div>
  
  <form class="pt-4" [formGroup]="formGroup">
    <section class="flex gap-4 w-full">
      <div class="w-full">
        <fin-input label="Descrição" placeholder="Netflix" name="description" formControlName="description" required />

        <div class="grid grid-cols-2 gap-4">
          <fin-input datePicker id="date" name="date" required formControlName="date" placeholder="01/01/2025" label="Data" />
          <fin-input label="Valor" placeholder="R$ 20,00" name="amount" formControlName="amount" currency required />
        </div>
        
        <div [class]="expanded && formGroup.get('type')?.value === types.IN_INSTALLMENTS ? 'grid-cols-1' : 'grid grid-cols-2 gap-4'">
          <fin-autocomplete label="Cartão de crédito" [formGroup]="formGroup" [items]="creditCards" displayProperty="name" controlName="creditCard" (addNewItem)="createNewCreditCard($event)" />
          <fin-autocomplete label="Categoria" [formGroup]="formGroup" [items]="categories" displayProperty="name" controlName="category" (addNewItem)="createNewCategory($event)" />
        </div>

      </div>
      <div class="w-[90%]" *ngIf="expanded">
        <fin-textarea label="Notas" placeholder="Comprado no dia da praia" name="notes" formControlName="notes" />

        <label class="checkbox" style="margin-top: 2px;">
          <div class="icon">
            <mat-icon class="material-symbols-outlined">keep</mat-icon>
            <span>Transação fixa</span>
          </div>
          <input type="checkbox" [checked]="formGroup.get('type')?.value === types.RECURRENT" (change)="changeType($event, types.RECURRENT)" class="sr-only peer">
          <div class="checkbox-button peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white peer-checked:bg-primary"></div>
        </label>
        
        <label class="checkbox" style="margin-top: 4px;">
          <div class="icon">
            <mat-icon class="material-symbols-outlined">replay</mat-icon>
            <span>Transação parcelada</span>
          </div>
          <input type="checkbox" [checked]="formGroup.get('type')?.value === types.IN_INSTALLMENTS" (change)="changeType($event, types.IN_INSTALLMENTS)" class="sr-only peer">
          <div class="checkbox-button peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white peer-checked:bg-primary"></div>
        </label>

        <fin-input *ngIf="formGroup.get('type')?.value === types.IN_INSTALLMENTS" type="number" label="Parcelas" placeholder="12" name="date" formControlName="installments" required />
      </div>
    </section>


    <div class="flex items-center justify-end mt-3 font-semibold cursor-pointer hover:brightness-110">
      <span (click)="expanded = !expanded">{{ expanded ? "Menos detalhes" : "Mais detalhes" }}</span>
      <mat-icon class="material-symbols-outlined">{{ expanded ? "chevron_left" : "chevron_right" }}</mat-icon>
    </div>
  
    <div class="flex justify-end items-center mt-8 gap-8">
      <label class="flex items-center gap-2">
        <span class="text-sm font-medium text-text dark:text-text-dark">
          Pago?
        </span>
        <input type="checkbox" [checked]="true" (change)="changeStatus()" class="sr-only peer">
        <div class="checkbox-button peer peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white peer-checked:bg-primary"></div>
      </label>
      <fin-button (click)="submit()">Enviar</fin-button>
    </div>
  </form>
  
