<div class="p-4">
    <div class="filters">
        <span class="selected">Todos</span>
        <span>Receitas</span>
        <span>Despesas</span>
    </div>
    
    <div class="fin-table rounded-xl overflow-hidden">
        <table>
            <tbody>
                @for (transaction of transactions; track transaction.transactionId) {
                    @if (transaction.type === TransactionType.CREDIT_CARD) {
                        <tr>
                            <td><mat-icon>credit_card</mat-icon></td>
                            <td><b>{{ transaction.description }}</b></td>
                            <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ transaction.creditCard.name }}</td> 
                            <td class="bolder">R$ {{ transaction.amount }}</td>
                            <td><mat-icon class="material-symbols-outlined ">more_vert</mat-icon></td>
                        </tr>
                    } @else {
                        <tr>
                            <td><mat-icon>account_balance</mat-icon></td>
                            <td><b>{{ transaction.description }}</b></td>
                            <td>{{ transaction.date | date: 'dd/MM/yyyy' }}</td>
                            <td>{{ transaction.account.name }}</td> 
                            <td class="bolder">R$ {{ transaction.amount }}</td>
                            <td><mat-icon class="material-symbols-outlined ">more_vert</mat-icon></td>
                        </tr>
                    }
                  }
            </tbody>
        </table>
    </div>
</div>