<div class="flex items-center justify-center h-screen bg-white dark:bg-[#191919]">
  <div class="w-full max-w-sm p-6 bg-sidenav dark:bg-sidenav-dark rounded-lg shadow-lg">
    <h2 class="text-2xl font-bold text-center text-text dark:text-text-dark">Bem-vindo de volta!</h2>
    <p class="mt-2 text-sm text-center text-text/75 dark:text-text-dark/75">Acesse sua conta</p>
    <form class="mt-6 space-y-4" [formGroup]="formGroup">
      <fin-input 
        label="Nome"
        id="name" 
        name="name" 
        required 
        placeholder="Alisson R"
        formControlName="name"
        autocomplete="off"
      />
      <fin-input 
        label="CPF"
        id="cpf" 
        name="cpf" 
        required 
        placeholder="000.000.000-00"
        formControlName="cpf"
        mask="000.000.000-00"
      />
      <fin-input 
        label="Email"
        type="email" 
        id="email" 
        name="email" 
        required 
        placeholder="you@example.com"
        formControlName="email"
        autocomplete="off"
      />
      <fin-input 
        label="Senha"
        type="password" 
        id="password" 
        name="password" 
        required 
        placeholder="••••••••"
        formControlName="password"
      />
      <fin-button class="w-full" (click)="onSubmit()" type="submit">Criar conta</fin-button>
    </form>
    <p class="mt-6 text-sm text-center text-text/75 dark:text-text-dark/75">
      Já possui uma conta? 
      <a class="text-primary hover:underline brightness-150" routerLink="/auth/login">Faça login</a>
    </p>
  </div>
</div>
