:host {

    .toast {
        @apply relative flex items-center gap-4 p-4 pr-12 rounded-lg shadow-lg transition-transform transform bg-white text-white border border-gray-200;
        animation: fadeIn 0.5s;

        &.success {
            @apply bg-green-500;
        }
        &.error {
            @apply bg-red-500;
        }
        &.info {
            @apply bg-indigo-500;
        }
        &.warning {
            @apply bg-yellow-500;
        }

        .close-btn {
            @apply text-[14px] h-[14px] w-[14px] ml-auto absolute top-2 right-3 p-2 hover:text-gray-200 cursor-pointer;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}