<div class="p-6">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-xl font-semibold">{{ formGroup.get('bankAccountId')?.value ? 'Atualizar conta bancária' : 'Nova conta bancária' }}</h2>
    <span class="cursor-pointer flex items-center justify-center rounded-full p-3 w-2 h-2 duration-200 hover:bg-hover-dark">
      <button (click)="close()" class="focus:outline-none">&times;</button>
    </span>
  </div>

  <form class="pt-4" [formGroup]="formGroup">
    <fin-input label="Nome" name="name" placeholder="Itaú" required formControlName="name" />
    <fin-input label="Valor inicial" currency name="initialAmount" placeholder="R$ 12.99" required formControlName="initialAmount" />

    <div class="flex justify-end">
      <fin-button (click)="submit()" >Enviar</fin-button>
    </div>
  </form>
  
</div>

<!-- <fin-autocomplete
[formGroup]="formGroup"
[items]="bankAccounts"
displayProperty="name"
controlName="accountId"
(addNewItem)="handleAddNew($event)" />     -->