<div class="dropdown-container relative mb-5">
    <fin-input
      formControlName="searchControl"
      (focus)="openDropdown()"
      placeholder="Pesquisar..."
      autocomplete="off"
    />
    
    <div *ngIf="isDropdownOpen" class="absolute z-10 w-full bg-white border border-gray-300 rounded-md mt-1 dark:bg-gray-700 dark:border-gray-600">
      <ul class="max-h-60 overflow-auto">
        <li
          *ngFor="let item of filteredItems"
          (click)="selectItem(item)"
          class="cursor-pointer px-4 py-2 hover:bg-indigo-500 hover:text-white dark:hover:bg-primary"
        >
          {{ item[displayProperty] }}
        </li>
        <li
          (click)="onAddNew()"
          class="cursor-pointer px-4 py-2 text-indigo-500 hover:bg-indigo-100 dark:hover:bg-primary dark:text-indigo-400">
          Novo
        </li>
      </ul>
    </div>
  </div>
  