<div class="dropdown-container relative" [formGroup]="searchFormGroup">
    <fin-input
      #finInput
      [label]="label"
      formControlName="searchControl"
      (focus)="openDropdown()"
      placeholder="Pesquisar..."
      autocomplete="off"
    />
    <mat-icon class="material-icons-outlined arrow-icon" (click)="openDropdown()">{{ isDropdownOpen ? "keyboard_arrow_up" : "keyboard_arrow_down" }}</mat-icon>

    
    <div *ngIf="isDropdownOpen" class="absolute z-10 w-full border border-hover-dark bg-sidenav dark:bg-sidenav-dark">
      <ul class="max-h-60 overflow-auto">
        @for (item of filteredItems; track $index) {
          <li
            (click)="selectItem(item)"
            class="cursor-pointer px-4 py-2 hover:bg-hover-dark"
          >
            {{ item[displayProperty] }}
          </li>
        } @empty {
          <li class="px-4 py-2">Nenhum registro encontrado.</li>
        }
        <li
          (click)="onAddNew()"
          class="cursor-pointer px-2 py-2 hover:bg-hover-dark text-primary brightness-150 flex gap-1">
          <mat-icon class="">add</mat-icon>
          Novo
        </li>
      </ul>
    </div>
    
  </div>
  