<section class="w-[60%] max-2xl:w-full flex flex-col gap-4">
    <div class="flex gap-4">
        @if (report) {
            <balance-card [balanceReport]="report.totalBalance" class="card col-span-2" />
            <incomes-card [incomesReport]="report.income" class="card"/>
            <expenses-card [expensesReport]="report.expenses" class="card"/>
        }
    </div>
    <div class="card flex gap-4 h-full"><bank-account-transactions class="w-full" /></div>
</section>

<section class="w-[40%] max-2xl:w-full flex flex-col gap-4">
    <div class="card flex gap-4 h-full"><credit-card-transactions class="w-full" /></div>
</section>