<div class="w-full h-full flex flex-col p-6">
    <p class="text-sm">Saldo previsto em todas as contas</p>
    <span class="text-3xl font-bold">{{ balanceReport.current | currency: 'BRL' }}</span>

    @if (isExpense(balanceReport.percentageChange)) {
        <small class="text-xs pt-2"><b class="expense">{{ balanceReport.percentageChange }}%</b> em relação ao último mês</small>
    } @else {
        <small class="text-xs pt-2"><b class="income">+{{ balanceReport.percentageChange }}%</b> em relação ao último mês</small>
    }
</div>