:host {
    @apply flex w-full h-full p-6 gap-6 max-lg:flex-col;

}

#income-expense-chart, #category-expense-chart {
    margin: 20px 0;
}

.bar {
    transition: fill 0.3s;
}

.bar:hover {
    fill: #ffcc00;
}

.x-axis path, .x-axis line, .y-axis path, .y-axis line {
    stroke: #ffffff;
}