

<div class="flex flex-col bg-white w-full mt-7 dark:bg-gray-950">
    <div class="flex flex-col gap-2 w-full my-6">
        <date-view />
    </div>

    <div class="table-section">
        <table>
            <thead>
                <th fin-col fin-sort-header>Data</th>
                <th fin-col fin-sort-header>Descrição</th>
                <th fin-col fin-sort-header>Conta</th>
                <th fin-col fin-sort-header>Valor</th>
                <th fin-col></th>
            </thead>
            <tbody>
                @for (transaction of transactions; track transaction.bankAccountTransactionId) {
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.description }}</td>
                        <td>{{ transaction.bankAccount.name }}</td> 
                        <td class="bolder">R$ {{ transaction.amount }}</td>
                        <td><mat-icon class="material-symbols-outlined ">more_vert</mat-icon></td>
                    </tr>
                  } @empty {
                    <h1>Sem registros.</h1>
                  }
            </tbody>
        </table>
    </div>
</div>
  