

<div class="flex flex-col bg-white w-full mt-7 dark:bg-gray-950">
    <div class="flex flex-col gap-2 w-full my-6">
        @if(dateControlService.showMonthView | async) {
            <month-view/>
        } @else {
            <year-view/>
        }
    </div>

    <!-- <fin-table [data]="transactions" [columns]="columns" [displayColumns]="displayColumns" />
    columns: string[] = ["date", "description", "category.name", "account.name"];
    displayColumns: string[] = ["Data", "Descrição", "Categoria", "Conta"]; 
    -->
</div>

<add-button />




  